body {
    font-family: monospace;
}

/* adapt resolution */
@media (min-width: 700px) and (max-width:1400px) {
    .item{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 0px) and (max-width:700px) {
    .item{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Header */
header{
    background-color:black;
    padding: 1em 1em;
}

header img{
    padding-left: 1em;
}

/* Section */
section{
    margin: 2% 0% 4% 0%;
}

/* Article */
#articles{
    margin: auto;
    width: 60%;
}
article{
    margin: auto;
    width: 15em;
}
.article_img img{
    height: 15em;
    padding: 10% 0% 10% 0%;
}

.article_title_text{
    padding-top: 2.em;
    width: 80%;
    margin: -10% 10%;
    position: relative;
    padding: 4% 0% 1% 0%; 
}

.article_title_text h4{
    font-size: 1.2em;
}
.article_price{
    background-color: lightgray;
    font-weight: bold;
    padding: 3em 0px 2em 0px;
}
.article_button{
    background-color: black;
    padding: 2% 0% 2% 0%;
}
.article_button button{
    border: 0px;
}

/* Footer */
footer{
    background-color: black;
    padding: 0.5em 0.5em;      
    color: white;
}
#text_footer{
    text-align:center;
}
#text_footer img{
    height: 1.2em;
    margin: auto;
}

/* Others */
.centered_text{
    text-align: center;
}
.highlighted_text{
    background-color: black;
    color: white;
}

/* Modal login */
.modal{
    top:30%;
}
.modal-header{
    border-bottom:0px;
    width: 55%;   
    margin: auto;
}
.modal-title{
    text-align: center; 
    font-size: 1.2em;  
}
.modal-body form input{
    border:1px solid lightgray;
    padding: 0.8em 0.8em 0.8em 0.8em;
    width: 96%;
    color: gray;
}
.modal-body #input-username{
    margin-bottom: 0.5em;
}
.modal-footer{
    border-top:0px;
    padding: 0px;
}
.modal-footer .btn{
    border-radius: 0em;
    margin: 0px;
    padding:1em 0em 1em 0em;
    color:white;
    width: 50%;
    font-weight: bold;
}
#btn-cancel{
    background-color: gray;
}
#btn-confirm{
    background-color: black;    
}
