body {
    font-family: monospace;
}

/* Header */
header{
    background-color:black;
    padding: 1em 1em;
}

header img{
    padding-left: 1em;
}

/* Section */
section{
    margin: 2% 0% 4% 0%;
}

/* Article */
#articles{
    margin: auto;
    width: 60%;
}
article{
    margin: auto;
    width: 15em;
}
.article_img img{
    height: 15em;
    padding: 10% 0% 10% 0%;
}

.article_title_text{
    padding-top: 2.em;
    width: 80%;
    margin: -10% 10%;
    position: relative;
    padding: 4% 0% 1% 0%; 
}

.article_title_text h4{
    font-size: 1.2em;
}
.article_price{
    background-color: lightgray;
    font-weight: bold;
    padding: 3em 0px 2em 0px;
}
.article_button{
    background-color: black;
    padding: 2% 0% 2% 0%;
}
.article_button button{
    border: 0px;
}

/* Footer */
footer{
    background-color: black;
    padding: 0.5em 0.5em;      
    color: white;
}
#text_footer{
    text-align:center;
}
#text_footer img{
    height: 1.2em;
    margin: auto;
}

/* other */
.centered_text{
    text-align: center;
}
.highlighted_text{
    background-color: black;
    color: white;
}